@import url(https://fonts.googleapis.com/css?family=Hind);

:root {
    --color-primary-drak: orange;
    --color-secondary-light: #f2f2f2;
    --color-main-bg: white;
    --color-main-text: black;
}

html {
    height: 100hv;
    font-size: 62.5%;
}

body {
    height: 100hv;
    padding: 0;
    margin: 0;
    font-size: 2.2rem;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    color: var(--color-main-text);
}

body.nav-fixed-top {
    padding-top: 45px;
}

a {
    text-decoration: none;
    color: var(--color-primary-drak);
    text-transform: uppercase;
    transition: color .35s ease;
}

a:hover,
a:focus,
a:visited {
    outline: 0;
    color: darken(var(--color-primary-drak), 30%);
}

.container {
    max-width: 960px;
    width: 95%;
    margin: 0 auto;
}

.hero {
    background: var(--color-primary-drak);
    padding: 200px 40px;
    margin: 0;
    text-align: center;
    font-size: 7.0rem;
    color: var(--color-secondary-light) 10%;
}

.nav {
    margin: 0;
    padding: 20px 0;
    background: var(--color-secondary-light);
    list-style: none;
    text-align: center;
    transition: all .15s ease;
}

.nav.nav-fixed-top {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    background: var(--color-primary-drak);
    padding: 0;
}

.nav.nav-fixed-top a {
    color: white;
}

.nav.nav-fixed-top a:visited {
    color: white;
}

.nav.nav-fixed-top a:hover,
.nav.nav-fixed-top a:focus {
    outline: 0;
    color: lighten(var(--color-primary-drak), 40%);
}

.nav ul {
    padding: 0;
    margin: 5px 0;
}

.nav ul li {
    display: inline-block;
    padding: 0 20px;
}


.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-all {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
    line-height: 1.38;
    font-family: Arial, Helvetica, sans-serif;
    top: 90%;
    left: 50%;
}

.container-usuario {
    height: 550px;
    width: 300px;
    box-shadow: 0 10px 20px #000;
    background-size: cover;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
    font-family: sans-serif;
    position: relative;
    margin-bottom: 100px;
    margin-top: 70px;
}

.shape {
    background-color: rgb(201, 145, 42);
    height: 250px;
    width: 400px;
    margin-left: -20px;
    position: relative;
    top: -80px;
    box-shadow: 0 2px 15px #000;
    transform: rotate(25deg);
}

.img {
    height: 100px;
    width: 100px;
    position: relative;
    background-image: url(../imagenes/yo.jpg);
    top: 200px;
    margin-left: 170px;
    background-size: cover;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 15px rgb(58, 54, 54);
    transform: rotate(-20deg);
    border-radius: 50%;
    
}

.title {
    font-size: 15px;
    padding-bottom: 6px;
    color: orange;
}

.container-usuario h3 {
    margin-bottom: 10px;

}

.container-usuario p {
    padding-left: 30px;
    padding-right: 30px;
    line-height: 2;
    color: rgb(105, 100, 109);
    font-size: 15px;
}